.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBar {
  background-color: #1c1e22; /* Darker app bar */
  color: #fff;
}

.MuiTypography-root {
  color: #fff; /* Ensure the text is white */
}

.MuiButton-root {
  background-color: #1976d2; /* Custom button color */
  color: white;
  padding: 0.8rem;
  &:hover {
    background-color: #3c96f0;
  }
}

.MuiTextField-root {
  background-color: #444c56; /* Dark background for text fields */
  /* border-radius: 4px; */
  padding: 0.8rem;
}

.MuiOutlinedInput-root {
  background-color: #444c56;
  /* border-radius: 4px; */
}

.MuiInputLabel-root {
  color: #bbb; /* Lighter label color */
}

.MuiInput-root {
  color: white; /* Text color inside text fields */
}
